package ${package.ServiceImpl};

import ${package.Entity}.*;
import ${package.Entity}.VO.*;
import ${package.Entity}.DTO.*;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.beans.BeanUtils;
import org.springframework.stereotype.Service;
import java.util.List;
import ${cfg.basePackage}.common.vo.PageResult;
import ${cfg.basePackage}.common.vo.PageWrapper;
import ${cfg.basePackage}.utils.PageUtils;

##import com.baomidou.mybatisplus.core.metadata.IPage;

/**
 * $!{table.comment} 服务实现类
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {
    @Override
    public PageResult<${entity}VO> listVO(${entity}QueryDTO dto,PageWrapper wrapper) {
        PageUtils.startPage(wrapper.getPageIndex(), wrapper.getPageSize(), wrapper.getSortField(), wrapper.getSort());
        List<UserVO> list = this.listVO(dto);
        PageResult pageResult = PageUtils.genPageResult(list);
        return pageResult;
    }
    @Override
    public List<${entity}VO> listVO(${entity}QueryDTO dto) {
        List<UserVO> list = this.getBaseMapper().selectListVo(dto);
        return list;
    }

    @Override
    public ${entity}VO getDetailById(Integer id){
        return this.getBaseMapper().selectDetailById(id);
    }

    @Override
    public boolean add(${entity}AddDTO dto){
        ${entity} add = new ${entity}();
        BeanUtils.copyProperties(dto, add);
        return this.save(add);
    }

    @Override
    public boolean edit(${entity}EditDTO dto){
        ${entity} edit = new ${entity}();
        BeanUtils.copyProperties(dto, edit);
        return this.updateById(edit);
    }

    @Override
    public boolean remove(Long id){
        return this.removeById(id);
    }

    @Override
    public boolean remove(List<Long> ids){
        return this.removeByIds(ids);
    }
}